<h3>Users that were add in database:</h3>

<table class="table">
		<tr>
			<td><%= 'Name' %></td>
			<td><%= 'Phone' %></td>
			<td><%= 'DateStamp' %></td>
			<td><%= 'Barber' %></td>
			<td><%= 'Color' %></td>
		</tr>
	<% @arr_hh.each  do |row| %> 
		<tr>
			<td><%= row['Name'] %></td>
			<td><%= row['Phone'] %></td>
			<td><%= row['DateStamp'] %></td>
			<td><%= row['Barber'] %></td>
			<td><%= row['Color'] %></td>
		</tr>		
	<% end %> 
</table>

</h4>
<h4></h4>