<h3>Users that were add in database:</h3>

<table class="table table-striped">
		<thead>
			<tr>
				<th> Id </th>
				<th> Name </th>
				<th> Phone </th>
				<th> DateStamp </th>
				<th> Barber </th>
				<th> Color </th>
			<tr>
		</thead>
		<tbody>
	<% @arr_hh.each  do |row| %> 
		<tr>
			<td><%= row['Id'] %></td>
			<td><%= row['Name'] %></td>
			<td><%= row['Phone'] %></td>
			<td><%= row['DateStamp'] %></td>
			<td><%= row['Barber'] %></td>
			<td style="background-color: <%= row['Color'] %>"><%= row['Color'] %></td>
		</tr>		
	<% end %> 
	</tbody>
</table>

</h4>
<h4></h4>